body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

button {
    display: flex;
    font-size: 25px;
    font-family: monospace;
    border: 2px, black, solid;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px, black, solid;
    border-radius: 2%;
    align-items: center;
    width: 350px;
    background-color: rgb(67, 67, 67);
}

#display {
    border: 2px, black, solid;
    border-radius: 1%;
    width: 90%;
    text-align: right;
    padding: 4px;
    margin: 10px;
    font-size: 60px;
    background-color: grey;
}

#keyContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: 6px;
    }

#actionKeyGroup {
    display: flex;
    flex-direction: column;
}

#actions {
    display: flex;
}

#keys {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#operators {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.key {
    width: 33%;
}

#key0 {
    width: 66.6%;
}

.key {
    background-color: teal;
}

.operator {
    background-color: orange;
}

.action {
    background-color: gainsboro;
    width: 25%;
}