body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

button {
    font-size: 20px;
    font-family: monospace;
    border: 2px, black, solid;
    border-radius: 5%;
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px, black, solid;
    border-radius: 2%;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgb(67, 67, 67);
}

#display {
    border: 2px, black, solid;
    border-radius: 1%;
    width: 90%;
    text-align: right;
    padding: 4px;
    margin: 10px;
    font-size: 60px;
    background-color: grey;
}

#keyContainer {
    display: flex;
    flex-direction: row-reverse;
    }

#actionKeyGroup {
    display: flex;
    flex-direction: column;
}

#actions {
    display: flex;
}

#keys {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#key0 {
    width: 66%;
}

#operators {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.key {
    width: 33%;
}

.key, .operator, .action {
    background-color: teal;
    padding: 10px 5px;
}
