body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

button {
    font-size: 20px;
    font-family: monospace;
    border: 2px, black, solid;
    border-radius: 5%;
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px, black, solid;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: rgb(67, 67, 67);
}

#display {
    border: 2px, black, solid;
    border-radius: 1%;
    width: 90%;
    text-align: right;
    padding: 4px;
    margin: 10px;
    font-size: 60px;
    background-color: grey;
}

#keyContainer {
    display: flex;
    flex-direction: row-reverse;
    }

#actionKeyGroup {
    display: flex;
    flex-direction: column;
}

#actions {
    display: flex;
    justify-content: space-between;
}

#keys {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

#operators {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.key {
    width: 30%;
}
